<div class="event-details">
    <h2>{{name}}</h2><br>
    <div class="event-details-container">
        <p>{{formattedDate}}</p>
        <article>{{description}}</article><br>
        <div id="map"></div><br>
    </div><br><br>

    <div class="buttons">
        <a href="/events/edit?id={{_id}}" class="btn btn-dark">Edit</a>
        <a href="/events/delete?id={{_id}}" class="btn btn-dark">Delete</a>
        <a href="/events" class="btn btn-dark">Go Back</a>
    </div>
</div>