<section class="event-details">

    <div class="event-details">
        <h2>{{eventDetails.name}}</h2><br>
        <div class="event-details-container">
            <p>{{eventDetails.formattedDate}}</p>
            <article>{{eventDetails.description}}</article><br>

            <div id="map"></div><br>

        </div>

        <div class="buttons">

            {{#if isAuthorized}}

            <a href="/events/edit?id={{_id}}" class="btn btn-dark">Edit</a>
            <a href="/events/delete?id={{_id}}" class="btn btn-dark">Delete</a>

            {{/if}}

            <a href="/events" class="btn-rounded btn-secondary">Go Back</a>

        </div>
    </div>
</section>