<section class="profile">

    <div class="header row justify-content-between">

        <div class="user-info col-md-6">

            <div class="row">

                <div class="image">

                    <img src={{profileImage}} alt="profile image of {{username}}">

                    <a class='settings' href="/users/settings">
                        <figure></figure>
                    </a>

                </div>

                <div class="username col">

                    <h2>{{username}}</h2>
                    <p>@{{username}}</p>

                </div>

            </div>

        </div>

        <div class="social col-md-6">

            <div class="row justify-content-around justify-content-md-end align-items-center">

                <a class="played d-flex flex-column justify-content-center align-items-center" href='#'>
                    <h2>0</h2>
                    <p>Played</p>
                </a>

                <a class="followers d-flex flex-column justify-content-center align-items-center" href='#'>
                    <h2>{{social.followers}}</h2>
                    <p>Followers</p>
                </a>

                <a class="following d-flex flex-column justify-content-center align-items-center" href='#'>
                    <h2>{{social.following}}</h2>
                    <p>Following</p>
                </a>

            </div>

        </div>

    </div>

    <div class="body row justify-content-between">

        <div class="options col-md-6">

            <a href="#">
                <h2>Activity</h2>
            </a>

            <a href="#">
                <h2>Reviews</h2>
            </a>

            <a href="#">
                <h2>Lists</h2>
            </a>

        </div>

        <div class="col-md-6 d-flex justify-content-end order-first order-md-last">

            <div class='collection'>

                <h2>Collection</h2>

                <div class="buttons row">

                    <a class="col d-flex align-items-end" href='#'>
                        <h3>Want to Play</h3>
                    </a>
                    <a class="col d-flex align-items-end" href='#'>
                        <h3>Playing</h3>
                    </a>
                    <a class="col d-flex align-items-end" href='#'>
                        <h3>Beaten</h3>
                    </a>
                    <a class="col d-flex align-items-end" href='#'>
                        <h3>Completed</h3>
                    </a>
                    <a class="col d-flex align-items-end" href='#'>
                        <h3>Shelved</h3>
                    </a>
                    <a class="col d-flex align-items-end" href='#'>
                        <h3>Abandoned</h3>
                    </a>

                </div>

            </div>

        </div>

    </div>

</section>