<section class="games-details">

    <div class="game-hero">
        <img src="{{gameDetails.image}}" alt="{{gameDetails.title}} image">
        <div class="game-hero-container">
            <article>{{gameDetails.description}}</article>
            <p style='color:rgb(255, 187, 0);font-weight:900;margin-top:20px'>Price: <span>{{gameDetails.price}}</span>
                $</p>
            <div class="game-devs">
                <div>

                    <a style='font-weight:900' href="/companies/{{gameDetails.company.id}}">
                        <p>{{gameDetails.company.name}}</p>
                    </a>
                </div>



                <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
                    aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form action="/users/add/{{id}}" method="POST">

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="colleccion-input"
                                            value="wantToPlay" name='colleccion'>
                                        <label class="form-check-label" for="colleccion-input">Want to Play</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="colleccion-input"
                                            value="playing" name='colleccion'>
                                        <label class="form-check-label" for="colleccion-input">Playing</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="colleccion-input"
                                            value="beaten" name='colleccion'>
                                        <label class="form-check-label" for="colleccion-input">Beaten</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="colleccion-input"
                                            value="completed" name='colleccion'>
                                        <label class="form-check-label" for="colleccion-input">Completed</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="colleccion-input"
                                            value="shelved" name='colleccion'>
                                        <label class="form-check-label" for="colleccion-input">Shelved</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="colleccion-input"
                                            value="abandoned" name='colleccion'>
                                        <label class="form-check-label" for="colleccion-input">Abandoned</label>
                                    </div>

                                    <button type="submit" class="btn btn-dark">Add to Collection</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="game-details-lists">
                    <ul>
                        {{#each gameDetails.directors}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>
                    <ul>
                        {{#each gameDetails.platforms}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>
                </div>

                <button class="btn-rounded btn-default" data-toggle="modal" data-target=".bs-example-modal-sm">Add to
                    your
                    Collections</button>

                <a class="new-article-btn btn-rounded btn-secondary" href="/games/{{gameDetails.id}}/newArticle">Write
                    an article</a>
                <a class="all-articles-btn btn-rounded btn-secondary" href="/games/{{gameDetails.id}}/articles">News and
                    Reviews</a>

            </div>
        </div>
    </div>

    <div class="video-container d-flex justify-content-center">

        <iframe width="560" height="315" src="{{gameDetails.trailer}}" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

    </div>

    <div class="game-details-buttons">

        {{#if isAdmin}}
        <a href="/games/edit?id={{gameDetails._id}}" class="btn btn-dark">Update</a>
        <a href="/games/delete?id={{gameDetails._id}}" class="btn btn-dark">Delete</a>
        {{/if}}

        <a href="/games" class="btn-rounded btn-secondary">Go Back</a>
    </div>

    </div>

</section>