<section class="games">

    <h2>Here are all of our games:</h2>

    <div class="game-list-view row">

        {{#each games}}
        <div class="col-md-6 col-lg-4">

            <article class="game-card d-flex flex-column align-items-center">

                <a href="/games/{{_id}}"><img src="{{image}}" alt="{{title}} image"></a>
                <h3>{{title}}</h3>

            </article>

        </div>
        {{/each}}

        {{!-- <ul class="game-list">
            {{#each games}}
            <li class="game-li">
                <a href="/games/{{_id}}"><img src="{{image}}" alt="{{title}} image"></a>
                <h3>{{title}}</h3>
            </li>
            <hr>
            {{/each}}
        </ul> --}}
    </div>

</section>